*{
    font-family: Roboto,Helvetica,Arial, sans-serif;
    margin:0px;
}
html,body{
    height: 100vh;
    width: 100vw;
  
/*   background: rgba(241, 242, 247, 0.3);; */
}

ul, th, td{
    margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
}


